<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
        <div class="ct" id="t5">
          <ul id="menu">
            <a href="#t1">
              <li class="icon" id="uno"><img id="logo" src="../assets/logo.png" /></li>
            </a>
            <a href="#t2">
              <li class="icon" id="dos"><img src="../assets/hub.png" /></li>
            </a>
            <a href="#t3">
              <li class="icon" id="tres"><img src="../assets/collaborate.png" /></li>
            </a>

            <a href="#t4">
              <li class="icon" id="cuatro"><img src="../assets/my account.png" /></li>
            </a>
            <a href="#t5">
              <li class="icon" id="cinco"><img src="../assets/exit.png" /></li>
            </a>
          </ul>
          <div class="page" id="p1">
            <section class="icon">
              <span class="title"><span style="color: #920404;">TECH</span><span style="color: #2A7905;">  SPACES</span></span>
              <img id="hubs" src="../assets/hubs.png">
              <span class="hint">
                Experience the power of a well-designed workspace - increase productivity, creativity, and collaboration
              </span>
            </section>
          </div>
          <div class="page" id="p2">
            <section class="icon">
              <img id="logo" src="../assets/logo.png" />
              <span class="title">All Hubs</span>
              <app-hub class="hubs"></app-hub>
            </section>
          </div>
          <div class="page" id="p3">
            <section class="icon">
              <img id="logo" src="../assets/logo.png" />
              <span class="title">Collaborate</span>
              <app-user class="users"></app-user>
            </section>
          </div>
          <div class="page" id="p4">
            <section class="icon">
              <img id="logo" src="../assets/logo.png" />
              <span class="title">My Account</span>
              <div class="page4">
                <p class="hint">
                  Please log in or create a new account.
                </p>
              </div>
            </section>
          </div>
          <div class="page" id="p5">
            <section class="icon">
              <img id="logo" src="../assets/logo.png" />
              <span class="title">Log Out</span>
              <p class="hint"></p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
