.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.users > div {
  display: flex;
  flex: 1;
  align-self: stretch;
}

.box {
  display:flex;
  flex-direction: column;
  background-color: white;
  margin: 1em;
  padding: 2em;
  border-radius: 20px;
  transition: 1s;
}
